@model BodyEditorViewModel
@using Orchard.Core.Common.ViewModels;
<fieldset>
    <label>@T("Body")</label>
    @Display.Body_Editor(Model)
    @Html.ValidationMessageFor(m => m.Text)
<<<<<<< .mine
</fieldset>

<fieldset>
    <label>@T("Choice")</label>
    @Html.TextBoxFor(m => m.Choice)
</fieldset>=======

    <label>@T("choice 1")</label>
    @Html.TextBoxFor(m => m.Choice)
     <label>@T("choice 2")</label>
    @Html.TextBoxFor(m => m.Choice2)
</fieldset>


>>>>>>> .r27
